@import "reset";
@import "slick";

@import url("../fonts/roboto.css"); 
@import url("../fonts/avenir-next.css");

@import "animation";
@import "header";
@import "footer"; 
@import "myacc"; 
@import "cas";
@import "spin";
@import "contract"; 
@import "top_users";

html {
    user-select: none;
}

img {
    pointer-events: none;
}

body {
    font-family: "Avenir Next", sans-serif;
    font-style: normal;

    background: #1C1A2C;
}
* {
    box-sizing: border-box;
}

body.blur {
    overflow: hidden;

    header, 
    main, 
    footer {
        filter : blur(10px);
    }
}


button, input {
    padding: 0;

    border: none;
}
a {
    cursor: pointer;
}
button, input, a, label, :hover ::after, ::before {
    transition: .3s ease-in-out;
}
input[type="text"] {
    &::placeholder {
        transition: .3s;
    }
    &:focus::placeholder {
        opacity: 0;
    }
}

.tastycase__logo {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 1;

    color: #FFFFFF;

    white-space: nowrap;

    span {
        color: #FDB207;
    }
}
.giveaway__logo {
    background: linear-gradient(89.67deg, #B40ACB 1.33%, #FFCE21 69.8%),
        linear-gradient(0deg, #FDB207, #FDB207);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;

    &:hover{
        animation: giveaway__logo_spin 80s infinite;
    }
}
.ttl16 {
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    text-align: left;
    color: #FFFFFF;

    span {
        font-weight: 500;
        text-align: left;
    }
}
.ttl20 {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #8DD515;
}
.ttl21 {
    font-weight: 600;
    font-size: 21px;
    line-height: 29px;
    color: #FFFFFF;
}
.ttl25 {
    font-weight: bold;
    font-size: 25px;
    line-height: 34px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.ttl30 {
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
    color: #FFFFFF;
}
.ttl35 {
    font-weight: bold;
    font-size: 35px;
    line-height: 48px;
    color: #FFFFFF;

    position: relative;
}
.ttl45 {
    font-weight: bold;
    font-size: 45px;
    line-height: 61px;
    color: #FFFFFF;

    position: relative;
}
.ttl48 {
    font-weight: bold;
    font-size: 48px;
    line-height: 66px;
    color: #FFFFFF;
}
.ttl50 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 59px;
    color: #FFFFFF;
}
.ttl65 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 65px;
    line-height: 1;
    color: #FFFFFF;
}
.ttl124 {
    font-weight: bold;
    font-size: 124px;
    line-height: 169px;
    text-transform: uppercase;

    color: #fff;

    span {
        color: #8DD515;
    }
}
.txt13 {
    font-weight: normal;
    font-size: 13px;
    line-height: 30px;
    color: #FFFFFF;
}
.txt16 {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}
.txt18 {
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}

.cont {
    display: flex;
    align-items: center;
    justify-content: center;
}

.game {
    &__block {
        position: relative;

        width: 270px;
        // height: 300px;

        border-radius: 8px;

        overflow: hidden;

        img {
            width: 100%;
        }

        &::before {
            position: absolute;

            content: "";

            width: 100%;
            height: 100%;

            background: linear-gradient(180deg, transparent 25%, rgba(255, 255, 255, .25) 100%);

            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%);

            z-index: 1;

            opacity: 0;
        }
        &:hover::before {
            opacity: 1;
        }
    }
    &__name {
        font-weight: bold;
        font-size: 20px;
        line-height: 27px;
        color: #FFFFFF; 

        position: absolute;

        left: 50%;
        margin-right: -50%;
        transform: translateX(-50%);
        bottom: 24px;

        z-index: 1;
    }   
    &__price {
        width: 86px;
        height: 39px;

        background: linear-gradient(90deg, #83C810 7.76%, #8DD615 89.73%), #6781F7;
        border-radius: 5px;

        position: absolute;

        top: 20px;
        right: 20px;

        display: flex;
        align-items: center;
        justify-content: center;

        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        color: #FFFFFF;

        z-index: 1;
    }
}

.pack {
    &__block {
        cursor: pointer;

        width: 469px;
        height: 98px;

        border-radius: 5px;

        background: #272251;

        display: flex;
        align-items: center;
        justify-content: center;

        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        color: #FFFFFF;

        transition: .3s ease-in-out;

        &:hover {
            background: #8DD515;
        }
    }
}

.cond {
    &__block {
        width: 348px;
        height: 397px;

        background: #272251;

        position: relative;

        padding: 208px 30px 0;

        &:after {
            position: absolute;

            content: "";

            top: 0;
            right: 0;

            border: 50px solid transparent; 
            border-top: 50px solid #8DD515; 
            border-right: 50px solid #8DD515;
        }
    }
}
.rev {

    &__block {
        width: 357px;

        margin: 20px 8px 0;

        position: relative;

        a {
            margin-top: 21px;

            display: flex;
            align-items: center;

            p {
                font-weight: 600;
                font-size: 18px;
                line-height: 25px;
                color: #8DD515;

                position: relative;

                &::after {
                    position: absolute;

                    content: "";

                    width: 100%;
                    height: 1px;

                    background: #8DD515;

                    left: 0;
                    bottom: 0;

                    opacity: 0;

                    transition: .3s ease-in-out;
                }
            }
            img {
                margin-left: 10px;

                transition: .3s ease-in-out;
            }

            &:hover {
                p {
                    &::after {
                        opacity: 1;
                    }
                }
                img {
                    margin-left: 15px;
                }
            }
        }
    }
}

.main {
    position: relative;

    padding: 472px 0 75px;

    &__intro {
        position: absolute;

        top: 0;
        left: 50%;
        margin-right: -50%;
        transform: translateX(-50%);

        width: 100%;

        display: flex;
        justify-content: center;

        z-index: 0;

        img {
            position: absolute;

            top: 0;
            left: 50%;
            margin-right: -50%;
            transform: translateX(-50%);

            width: 100%;
        }

        p {
            margin-top: 197px;

            font-weight: bold;
            font-size: 130px;
            color: #FFFFFF;

            z-index: 1;
        }
    }
    &__container {
        margin: 0 auto;
        max-width: 1490px;
        padding: 0 25px;
    }
    &__first {
        &_cont {
            margin: 0 -11px;

            width: calc(100% + 11px + 11px);
        }
        .game__block {
            margin: 25px 11px 0;
        }
    }
    &__second {
        margin-top: 88px;

        &_cont {
            flex-wrap: wrap;
            justify-content: flex-start;

            margin: 40px -12px 0;

            width: calc(100% + 16px + 14px);
        }
        .game__block {
            margin: 20px 12px 0;
        }
    }
    &__third {
        margin-top: 40px;

        &_cont {
            margin: 38px -11px 0;

            width: calc(100% + 12px + 12px);
        }
        .game__block {
            margin: 20px 12px 0;
        }
    }
    &__fourth {
        margin-top: 88px;

        &_cont {
            margin: 38px -8px 0;

            width: calc(100% + 10px + 10px);

            flex-wrap: wrap;
        }
        .pack__block {
            margin: 20px 8px 0;
        }
    }
    &__rev {
        margin-top: -140px;

        padding-top: 187px;

        background: url(../img/bg/bg01.png);
        background-repeat: no-repeat;
        background-size: cover;

        &_cont01 {
            margin: 0 -8px 0;

            width: calc(100% - 8px - 8px);

            .ttl25 {
                margin-top: 6px;
            }
            .stars {
                margin-top: 12px;

                display: flex;
                align-items: center;
                
                img {
                    margin-right: 10px;
                }
            }
            .txt18 {
                margin-top: 20px;

                position: relative;

                z-index: 0;

                background: linear-gradient(180deg, #fff 50%, rgba(0,0,0,1) 100%);

                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;

                color: unset;
            }
        }
        &_cont02 {
            margin: 76px -9px 0;
                
            width: calc(100% + 9px + 9px);

            .cond__block {
                margin: 20px 9px 0;

                .icon {
                    position: absolute;

                    top: 130px;
                    left: 30px;
                }
            }
            .green__line {
                margin-top: 18px;

                width: 244px;
                height: 3px;

                background: #8DD515;
            }
            .txt18 {
                margin-top: 26px;

                opacity: .6;
            }
        }
        &_cont03 {
            margin: 32px -12px 0;

            width: calc(100% + 12px + 12px);
            
            &_textbox {
                margin: 20px 12px 0;

                width: 706px;
            }

            .txt18 {
                margin: 20px 0 0;

                opacity: .6;
            }
        }
    }
    &__banner {
        margin-top: 200px;

        &_cont {
            margin-top: 56px;

            width: 100%;

            background-image: url(../img/bg/bg02.png), linear-gradient(90deg, #4776E6 0%, #8E54E9 100%);
            background-size: cover;
            background-repeat: no-repeat;
            
            border-radius: 5px;

            overflow: hidden;

            padding: 80px 68px;

            position: relative;

            .ak {
                position: absolute;

                top: 0;
                right: 0;
            }
            .knife01 {
                position: absolute;

                right: 550px;
                bottom: 5px;
            }
            .knife02 {
                position: absolute;

                top: 22px;
                right: 34px;
            }
            .txt {
                margin-top: 6px;

                font-weight: 500;
                font-size: 24px;
                line-height: 33px;
                color: #FFFFFF;
            }
            .btn {
                margin-top: 50px;

                width: 240px;
                height: 57px;

                background: linear-gradient(90deg, #83C810 7.76%, #8DD615 89.73%);
                box-shadow: -4px 6px 43px #4E58D6;
                border-radius: 5px;

                display: flex;
                align-items: center;
                justify-content: center;

                font-weight: bold;
                font-size: 18px;
                line-height: 25px;
                color: #FFFFFF;

                img {
                    margin-left: 10px;

                    transition: .3s ease-in-out;
                }

                &:hover {
                    img {
                        margin-left: 20px;
                    }
                }

            }
        }
    }
}

@media screen and (max-width: 1500px) {
    
    .main {
        padding-top: 400px;

        &__intro {
            p {
                margin-top: 180px;
            }
        }
        &__first, &__second, &__third {
            &_cont {
                margin: 10px -10px 0;

                width: calc(100% + 10px + 10px);

                flex-wrap: wrap;
                justify-content: center;
            }
            .game__block {
                margin: 20px 10px 0;
            }            
        }
        &__fourth {
            .pack__block {
                width: calc(33% - 8px - 8px);
            }
        }
        &__rev {
            &_cont01 {
                flex-wrap: wrap;

                .rev__block {
                    width: calc(20% - 8px - 8px);
                }
            }
            &_cont02 {
                margin: 50px -8px 0;
                width: calc(100% + 8px + 8px);

                .cond__block {
                    margin: 20px 8px 0;

                    width: calc(25% - 8px - 8px);
                }
            }
            &_cont03 {
                &_textbox {
                    width: calc(50% - 12px - 12px);
                }
            }
        }
        &__banner {
            margin-top: 180px;

            &_cont {
                margin-top: 30px;
                padding: 65px 50px;

                .ak {
                    width: 55%;
                }
                .knife01 {
                    width: 20.75%;

                    right: 38.175%;
                }
                .knife02 {
                    width: 18.4%;

                    top: 5%;
                    right: 2.35%;
                }
            }
        }
    }
}
@media screen and (max-width: 1400px) {
    .ttl65 {
        font-size: 64px;
    }
    .main {
        padding-top: 375px;

        &__intro {
            p {
                margin-top: 160px;
            }
        }
        &__banner {
            margin-top: 160px;
        }
    }
}
@media screen and (max-width: 1300px) {
    .ttl124 {
        font-size: 110px;
        line-height: 1;  
    }
    .ttl48 {
        font-size: 46px;
        line-height: 1.2;
    }
    .ttl45 {
        font-size: 42px;
        line-height: 1.25;               
    }
    .ttl30 {
        font-size: 28px;
    }
    .ttl25 {
        font-size: 22px;
        line-height: 1.2;
    }
    .ttl65 {
        font-size: 61px;
    }
    .main {
        padding-top: 350px;

        &__intro {
            p {
                margin-top: 140px;

                font-size: 110px;
            }
        }
        &__rev {
            margin-top: -120px;
            padding-top: 160px;

            &_cont01 {
                .rev__block {
                    a {
                        margin-top: 4px;
                    }
                }
            }
            &_cont02 {
                .cond__block {
                    padding: 175px 20px 0;

                    height: 350px;

                    .icon {
                        width: 55px;

                        top: 105px;
                        left: 20px;
                    }
                }
            }
        }
        &__banner {
            margin-top: 140px;

            &_cont {
                padding: 50px 40px;

                .ak {
                    right: -2%;

                    width: 52.5%;
                }
            }
        }
    }
}
@media screen and (max-width: 1200px) {
    .ttl124 {
        font-size: 100px;
    }
    .ttl48 {
        font-size: 44px;
    }
    .ttl25 {
        font-size: 20px;
    }
    .ttl65 {
        font-size: 58px;
    }
    .main {
        padding-top: 325px;

        &__intro {
            p {
                margin-top: 120px;

                font-size: 100px;
            }
        }
        &__fourth {
            &_cont {
                margin: 10px -8px 0;
            }

            .pack__block {
                margin: 8px;

                height: 75px;
            }
        }
        &__rev {
            &_cont01 {
                .txt18 {
                    margin-top: 10px;
                }
            }
            &_cont02 {
                .cond__block {
                    margin: 20px 6px 0;
                    padding: 150px 15px 0;

                    width: calc(25% - 6px - 6px);

                    .icon {
                        top: 80px;
                        left: 10px;
                    }
                }
                .green__line {
                    width: 100%;
                }
            }
        }
        &__banner {
            margin-top: 120px;
        }
    }
}
@media screen and (max-width: 1100px) {
    .ttl124 {
        font-size: 90px;
    }
    .ttl48 {
        font-size: 42px;
    }
    .ttl45 {
        font-size: 38px;
    }
    .ttl30 {
        font-size: 24px;
    }
    .ttl65 {
        font-size: 55px;
    }
    .main {
        padding-top: 300px;

        &__intro {
            p {
                margin-top: 100px;

                font-size: 90px;
            }
        }
        &__second, &__third {
            margin-top: 65px;
        }
        &__first, &__second, &__third  {
            .game__block {
                margin: 10px;
            }
        }
        &__rev {
            &_cont01 {
                .rev__block {
                    &:nth-child(5) {
                        display: none;
                    }

                    width: calc(25% - 8px - 8px);
                }
            }
            &_cont02 {
                .cond__block {
                    &::after {
                        border: 40px solid transparent;
                        border-top: 40px solid #8DD515;
                        border-right: 40px solid #8DD515;
                    }
                }
            }
            &_cont03 {
                margin: 10px -12px 0;

                .txt18 {
                    margin-top: 10px;
                }
            }
        }
        &__banner {
            margin-top: 100px;

            &_cont {
                margin-top: 10px;

                padding: 30px 20px;

                .btn {
                    margin-top: 30px;
                }
            }
        }
    }
}
@media screen and (max-width: 991px) {
    .ttl21 {
        font-size: 20px;
    }
    .ttl124 {
        font-size: 80px;
    }
    .ttl35 {
        font-size: 34px;
        line-height: 1.5;
    }
    .ttl45 {
        font-size: 36px;
        line-height: 1.2;
    }
    .ttl48 {
        font-size: 40px;
    }
    .ttl50 {
        font-size: 47px;
    }
    .ttl65 {
        font-size: 52px;
    }
    .main {
        padding-top: 275px;

        &__intro {
            p {
                font-size: 80px;
            }
        }
        &__second, &__third {
            margin-top: 50px;
        }
        &__first, &__second, &__third {
            &_cont {
                width: calc(100% + 8px + 8px);
            }
            .game {
                &__block {
                    margin: 8px;

                    width: 200px;
                }
                &__name {
                    font-size: 18px;
                }
            }
        }
        &__fourth {
            margin-top: 50px;

            .pack__block {
                height: 65px;
            }
        }
        &__rev {
            &_cont01 {
                .rev__block {
                    width: calc(50% - 8px - 8px)
                }
            }
            &_cont02 {
                flex-wrap: wrap;

                .cond__block {
                    margin: 20px 8px 0;
                    width: calc(50% - 8px - 8px);
                }
            }
        }
        &__banner {
            margin-top: 90px;

            &_cont {
                padding: 25px 18px;

                .btn {
                    margin-top: 20px;
                }
                .ak {
                    width: 50%;

                    right: -3%;
                }
            }
        }
    }
}
@media screen and (max-width: 900px) {
    .ttl21 {
        font-size: 19px;
    }
    .ttl35 {
        font-size: 32px;
    }
    .ttl45 {
        font-size: 34px;
    }
    .ttl48 {
        font-size: 38px;
    }
    .ttl50 {
        font-size: 44px;
    }
    .ttl65 {
        font-size: 49px;
    }
    .main {
        padding-top: 250px;

        &__intro {
            p {
                margin-top: 90px;

                font-size: 70px;
            }
        }
        &__container {
            padding: 0 20px;
        }
        &__fourth {
            &_cont {
                width: calc(100% + 6px + 6px);
            }

            .pack__block {
                margin: 6px;

                width: calc(50% - 8px - 8px);

                height: 65px;
            }
        }
        &__banner {
            &_cont {
                padding: 20px 18px;

                .txt {
                    font-size: 22px;
                }
            }
        }
    }
}
@media screen and (max-width: 800px) {
    .ttl21 {
        font-size: 18px;
    }
    .ttl35 {
        font-size: 30px;
    }
    .ttl45 {
        font-size: 32px;
        line-height: 1.1;
    }
    .ttl48 {
        font-size: 36px;
    }
    .ttl50 {
        font-size: 41px;
    }
    .ttl65 {
        font-size: 46px;
    }
    .main {
        padding-top: 225px;

        &__intro {
            p {
                margin-top: 90px;

                font-size: 60px;
            }
        }
        &__fourth {
            &_cont {
                margin: 0 -5px 0;

                width: calc(100% + 5px + 5px);
            }

            .pack__block {
                margin: 5px;

                height: 60px;

                font-size: 17px;
            }
        }
        &__rev {
            
            &_cont03 {
                margin: 20px 0 0 0;
                width: 100%;

                flex-wrap: wrap;

                &_textbox {
                    margin: 30px 0 0 0;

                    width: 100%;
                }
            }
        }
        &__banner {
            margin-top: 60px;

            &_cont {
                .txt {
                    margin-top: 4px;

                    font-size: 20px;
                }
                .btn {
                    margin-top: 10px;

                    width: 200px;
                    height: 42px;   
                }
            }
        }
    }   
}
@media screen and (max-width: 700px) {
    .ttl21 {
        font-size: 17px;
    }
    .ttl35 {
        font-size: 28px;
    }
    .ttl45 {
        font-size: 30px;
    }
    .ttl48 {
        font-size: 34px;
    }
    .ttl50 {
        font-size: 38px;
    }
    .ttl65 {
        font-size: 43px;
    }
    .txt18 {
        font-size: 17px;

        line-height: 137%;
    }
    .main {
        padding-top: 200px;

        &__intro {
            p {
                margin-top: 80px;

                font-size: 50px;
            }
        }
        &__second, &__third {
            margin-top: 45px;
        }
        &__first, &__second, &__third {
            &_cont {
                margin: 0 -6px;

                width: calc(100% + 6px + 6px);
            }

            .game {
                &__block {
                    margin: 6px;

                    width: calc(50% - 6px - 6px);
                }
            }
        }
    }
}
@media screen and (max-width: 600px) {
    .ttl21 {
        font-size: 16px;
    }
    .ttl35 {
        font-size: 26px;
    }
    .ttl45 {
        font-size: 28px;
    }    
    .ttl48 {
        font-size: 32px;
    }
    .ttl50 {
        font-size: 35px;
    }
    .ttl65 {
        font-size: 40px;
    }
    .txt18 {
        font-size: 16px;
    }
    .main {
        padding-top: 175px;

        &__intro {
            p {
                margin-top: 70px;

                font-size: 40px;
            }
        }
        &__fourth {
            .pack__block {
                font-size: 16px;
            }
        }
        &__banner {
            &_cont {
                .ak, .knife01, .knife02 {
                    display: none;
                }
            }
        }
    }
}
@media screen and (max-width: 500px) {
    .ttl21 {
        font-size: 15px;
    }
    .ttl124 {
        font-size: 50px;
    }
    .ttl35 {
        font-size: 24px;
    }
    .ttl45 {
        font-size: 26px;
    }
    .ttl48 {
        font-size: 30px;
    }
    .ttl65 {
        font-size: 37px;
    }
    .ttl50 {
        font-size: 32px;
    }    
    .txt18 {
        font-size: 15px;
    }
    .main {
        padding-top: 125px;

        &__intro {
            p {
                margin-top: 60px;

                font-size: 30px;
            }
        }
        &__container {
            padding: 0 15px;
        }
        &__second, &__third {
            margin-top: 40px;
        }
        &__first, &__second, &__third {
            .game {
                &__price {
                    top: 14px;
                    right: 14px;

                    width: 74px;
                    height: 34px;

                    font-size: 15px;
                }
                &__name {
                    font-size: 16px;

                    bottom: 14px;
                }
            }
        }
        &__fourth {
            margin-top: 30px;

            &_cont {
                margin: 0;

                width: 100%;
            }
            .pack__block {
                margin: 10px 0 0;

                width: 100%;
                height: 56px;
            }
        }
        &__rev {
            &_cont01 {
                margin: 0;
                width: 100%;

                .rev__block {
                    margin: 30px 0 0 0;

                    width: 100%;
                }
            }
            &_cont02 {
                margin: 0;
                width: 100%;

                .txt18 {
                    font-size: 18px;
                }
                .cond__block {
                    width: 380px;

                    margin: 20px 0 0 0;
                    padding: 180px 30px;

                    .icon {
                        width: 60px;

                        top: 105px;
                        left: 30px;
                    }

                    ::after {
                        border: 50px solid transparent;
                        border-top: 50px solid #8DD515;
                        border-right: 50px solid #8DD515;
                    }
                }
            }
        }
        &__banner {
            margin-top: 50px;
        }
    }
}
@media screen and (max-width: 410px) {
    .ttl21 {
        font-size: 14px;
    }
    .ttl35 {
        font-size: 22px;
    }
    .ttl45 {
        font-size: 24px;
    }
    .ttl48 {
        font-size: 28px;
    }
    .ttl50 {
        font-size: 29px;
    }    
    .ttl65 {
        font-size: 34px;
    }
    .txt18 {
        font-size: 14px;
    }
    .main {
        &__intro {
            p {
                margin-top: 50px;
            }
        }
        &__second, &__third {
            margin-top: 30px;
        }
        &__first, &__second, &__third {
            &_cont {
                margin: 0 -5px;

                width: calc(100% + 5px + 5px);
            }
            .game {
                &__block {
                    margin: 5px;
                }
                &__name {
                    font-size: 15px;
                }
            }
        }
        &__fourth {
            .pack__block {
                margin: 8px 0 0;

                height: 54px;
            }
        }
        &__rev {
            &_cont02 {
                .cond__block {
                    width: 100%;
                    height: 300px;

                    padding: 130px 20px;

                    .icon {
                        top: 50px;
                        left: 20px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 374px) {
    .ttl35 {
        font-size: 20px;
    }
    .ttl45 {
        font-size: 22px;
    }
    .ttl48 {
        font-size: 26px;
    }
    .ttl50 {
        font-size: 28px;
    }
    
    .main {
        padding-top: 100px;

        &__intro {
            p {
                margin-top: 40px;

                font-size: 26px;
            }
        }

        &__container {
            padding: 0 8px;
        }
        &__first, &__second, &__third {
            .game {
                &__price {
                    top: 8px;
                    right: 8px;

                    width: 66px;
                    height: 30px;

                    font-size: 14px;
                }
                &__name {
                    font-size: 13px;

                    bottom: 8px;
                }
            }
        }
        &__fourth {
            .pack__block {
                margin: 6px 0 0;

                height: 50px;

                font-size: 14px;
            }
        }
        &__rev {
            &_cont02 {
                .txt18 {
                    font-size: 15px;
                }
            } 
        } 
        &__banner {
            &_cont {
                padding: 15px;

                p {
                    br {
                        display: none;
                    }
                }
            }
        }
    }
}


