extends ../includes/html

block variables 
    - var pageTitle = "My account"
    - var youAuthorized = true;  

block content 

    main.myacc
        .main__container
            p.ttl48 MY ACCOUNT
            .myacc__cont
                .myacc__left

                    .myacc__left_first.blue__box
                        .myacc__left_avatar
                            img.myacc__left_avatar_img(src='build/img/ava01.jpg' alt='')
                            img.myacc__left_avatar_rank(src='build/img/rank01.png' alt='')
                        
                        p.ttl25 PLASTIQUE

                        .myacc__left_stats
                            .myacc__left_stats_info
                                p Silver Elite #[br] (Rank glasses: 906)
                                .myacc__left_stats_info_right
                                    p 5/18 

                                    .myacc__left_stats_info_icon
                                        img(src='build/img/icons/quest01.svg' alt='')

                                        .myacc__left_stats_info_notice
                                            .myacc__left_stats_info_notice_string
                                                p.first #[span Next rank:]
                                                p.first Silver Elite #[br] master

                                            .myacc__left_stats_info_notice_string
                                                p.first #[span Rank point:]
                                                p 5

                            .myacc__left_stats_ind
                                .myacc__left_stats_ind_lvl
                    
                        .myacc__left_string.first
                            p Balance
                            p $ #[span 1.500] 
                            .myacc__left_string_up +
    
                        .myacc__left_string.second
                            p Open source
                            p 2
    
                        .myacc__left_bonuses
                            p.myacc__left_bonuses_txt Bonuses will be #[br] available through:
        
                            .myacc__left_bonuses_time
                                .myacc__left_bonuses_time_block
                                    p.myacc__left_bonuses_time_digit 12
                                    p.myacc__left_bonuses_time_txt DAYS
    
                                .myacc__left_bonuses_time_block
                                    p.myacc__left_bonuses_time_digit :
                                    p.myacc__left_bonuses_time_txt
                                
                                .myacc__left_bonuses_time_block
                                    p.myacc__left_bonuses_time_digit 21
                                    p.myacc__left_bonuses_time_txt HOURS
                    
                                .myacc__left_bonuses_time_block
                                    p.myacc__left_bonuses_time_digit :
                                    p.myacc__left_bonuses_time_txt
                    
                                .myacc__left_bonuses_time_block
                                    p.myacc__left_bonuses_time_digit 24
                                    p.myacc__left_bonuses_time_txt MINUTES
                                
                                .myacc__left_bonuses_time_block
                                    p.myacc__left_bonuses_time_digit :
                                    p.myacc__left_bonuses_time_txt
                                
                                .myacc__left_bonuses_time_block
                                    p.myacc__left_bonuses_time_digit 19
                                    p.myacc__left_bonuses_time_txt SECONDS

                    .myacc__left_third.blue__box
                        p.ttl21 YOU REFERAL
                        
                        .myacc__left_third_string
                            .myacc__left_third_block
                                div User:
                                p 1
    
                            .myacc__left_third_block
                                div You have invested:
                                p 12

                            .myacc__left_third_block
                                div Your profit:
                                p $ #[span 1.45]
                
                .myacc__right
                    .myacc__right_first
                        p.ttl21 TRADE-URL
                
                        .myacc__right_inputbox
                            input(type='text' name='' placeholder='https://steamcommunity.com/tradeoffer/new/?partner=YYYYYYYY&token=XX')
                            button.myacc__right_inputbox_icon
                                img(src='build/img/icons/tick01.svg' alt='')
                
                        p.txt18
                            | Each Steam user has its own unique link to exchange. With its help we will send 
                            br
                            |  you the won items.
                        a.green__link(href='#')
                            img(src='build/img/icons/link02.svg' alt='')
                            p Click here for a link to exchange
                    
                    .myacc__right_first
                        p.ttl21 PROMO CODE
                        .myacc__right_inputbox
                            input(type='text' name='' placeholder='TASTY-CASE')
                            button.myacc__right_inputbox_icon
                                img(src='build/img/icons/tick01.svg' alt='')
                        p.txt18
                            | Promo codes allow you to get additional balance from the replenishment. 
                            br
                            | These bonuses are in our Vk group. Subscribe to GO2CASE.ME news to stay 
                            br
                            | up to date with our latest updates.
                        a.green__link(href='#')
                            img(src='build/img/icons/link02.svg' alt='')
                            p Click here for a link to exchange
                
                    .myacc__right_second.blue__box
                        p.ttl21 REFERAL PROGRAM
                        
                        .myacc__right_second_string
                            
                            .myacc__right_second_block
                                span Users are invited:
                                p 0
                            
                            .myacc__right_second_block
                                span Your final arrived:
                                p 0
                            
                            a.myacc__right_second_btn(href='#') Open case
                
                    .myacc__right_first
                        p.ttl21 YOUR REFERRAL LINK:
                        .myacc__right_inputbox
                            input(type='text' name='' placeholder='https://tasty-case.me/r/A0BB8D32E')
                            button.myacc__right_inputbox_icon
                                img(src='build/img/icons/copy01.svg' alt='')
                        p.txt18
                            | Share the link with your friends and get bonuses for 
                            br
                            |  each replenishment.

            .myacc__skins
                p.ttl35 My skin
                a.myacc__skins_btn(href='#') Create contract
                
                .skins__cont
                
                    .skin__block.rose
                        img.gun(src='build/img/gun02.svg' alt='')
                        
                        .take Take it from store
                        
                        .skin__price.top__block $ #[span 0.03]

                        .top__block_right
                            button.pack
                                img(src='build/img/icons/pack01.svg' alt='')

                            button.dwnld.ellipse
                                img(src='build/img/icons/dwnld01.svg' alt='')
                    
                        p.ttl16 AWP #[br] #[span Snake skin] 

                    .skin__block.violet
                        img.gun(src='build/img/gun02.svg' alt='')
                        
                        .skin__sold.top__block Sold
                        
                        .top__block_right
                            button.pack
                                img(src='build/img/icons/pack01.svg' alt='')
                            
                            button.db
                                img(src='build/img/icons/db01.svg' alt='')
                        
                        p.ttl16 AWP #[br] #[span Snake skin]

                    .skin__block.red
                        img.gun(src='build/img/gun02.svg' alt='')
                
                        .skin__waiting.top__block Waiting
                        
                        .top__block_right
                            button.pack
                                img(src='build/img/icons/pack01.svg' alt='')
                            
                            button.upd.ellipse
                                img(src='build/img/icons/upd01.svg' alt='')
                
                        p.ttl16 AWP #[br] #[span Snake skin]

                    .skin__block.yellow
                        img.gun(src='build/img/gun02.svg' alt='')
                        
                        .skin__price.top__block $ #[span 0.03]

                        .top__block_right
                            button.pack
                                img(src='build/img/icons/pack01.svg' alt='')
                            button.upd.ellipse
                                img(src='build/img/icons/upd01.svg' alt='')
                
                        p.ttl16 AWP #[br] #[span Snake skin]

                    .skin__block.darkblue
                        img.gun(src='build/img/gun02.svg' alt='')
                        
                        .skin__sold.top__block Sold
                        
                        .top__block_right
                            button.pack
                                img(src='build/img/icons/pack01.svg' alt='')
                            button.upd.ellipse
                                img(src='build/img/icons/upd01.svg' alt='')
                
                        p.ttl16 AWP #[br] #[span Snake skin] 

                    .skin__block.lightblue
                        img.gun(src='build/img/gun02.svg' alt='')
                
                        .skin__waiting.top__block Waiting
                        
                        .top__block_right
                            button.pack
                                img(src='build/img/icons/pack01.svg' alt='')
                            button.upd.ellipse
                                img(src='build/img/icons/upd01.svg' alt='')
                
                        p.ttl16 AWP #[br] #[span Snake skin]

                    .skin__block.white
                        img.gun(src='build/img/gun02.svg' alt='')
                        
                        .skin__waiting.top__block Waiting
                
                        .top__block_right
                            button.pack
                                img(src='build/img/icons/pack01.svg' alt='')
                            button.upd.ellipse
                                img(src='build/img/icons/upd01.svg' alt='')
                        
                        p.ttl16 AWP #[br] #[span Snake skin]

                    .skin__block.rose
                        img.gun(src='build/img/gun02.svg' alt='')
                        
                        .take Take it from store
                        
                        .skin__price.top__block $ #[span 0.03]

                        .top__block_right
                            button.pack
                                img(src='build/img/icons/pack01.svg' alt='')
                            button.dwnld.ellipse
                                img(src='build/img/icons/dwnld01.svg' alt='')
                        
                        p.ttl16 AWP #[br] #[span Snake skin]

                    .skin__block.violet
                        img.gun(src='build/img/gun02.svg' alt='')
                        
                        .skin__sold.top__block Sold
                        
                        .top__block_right
                            button.pack
                                img(src='build/img/icons/pack01.svg' alt='')
                            button.db
                                img(src='build/img/icons/db01.svg' alt='')
                        
                        p.ttl16 AWP #[br] #[span Snake skin]

                    .skin__block.red
                        img.gun(src='build/img/gun02.svg' alt='')
                
                        .skin__waiting.top__block Waiting
                        
                        .top__block_right
                            button.pack
                                img(src='build/img/icons/pack01.svg' alt='')
                            button.upd.ellipse
                                img(src='build/img/icons/upd01.svg' alt='')
                        
                        p.ttl16 AWP #[br] #[span Snake skin]

                    .skin__block.yellow
                        img.gun(src='build/img/gun02.svg' alt='')
                        
                        .skin__price.top__block $ #[span 0.03]
    
                        .top__block_right
                            button.pack
                                img(src='build/img/icons/pack01.svg' alt='')
                            button.upd.ellipse
                                img(src='build/img/icons/upd01.svg' alt='')
                
                        p.ttl16 AWP #[br] #[span Snake skin]

                    .skin__block.darkblue
                        img.gun(src='build/img/gun02.svg' alt='')
            
                        .skin__sold.top__block Sold
            
                        .top__block_right
                            button.pack
                                img(src='build/img/icons/pack01.svg' alt='')
                            button.upd.ellipse
                                img(src='build/img/icons/upd01.svg' alt='')

                        p.ttl16 AWP #[br] #[span Snake skin]

                    .skin__block.lightblue
                        img.gun(src='build/img/gun02.svg' alt='')
                        
                        .skin__waiting.top__block Waiting
                        
                        .top__block_right
                            button.pack
                                img(src='build/img/icons/pack01.svg' alt='')
                            button.upd.ellipse
                                img(src='build/img/icons/upd01.svg' alt='')
                        p.ttl16 AWP #[br] #[span Snake skin]

                    .skin__block.white
                        img.gun(src='build/img/gun02.svg' alt='')
                        
                        .skin__waiting.top__block Waiting
                        
                        .top__block_right
                            button.pack
                                img(src='build/img/icons/pack01.svg' alt='')
                            button.upd.ellipse
                                img(src='build/img/icons/upd01.svg' alt='')
                        
                        p.ttl16 AWP #[br] #[span Snake skin]

            .myacc__answers
                p.ttl35 Answers to questions
                .myacc__answers_cont
                    
                    .myacc__answers_block
                        .myacc__answers_name.selected
                            img(src='build/img/icons/arrow02.svg' alt='')
                            | Where can I get the inbound code? What will it give me?
                        .myacc__answers_info.selected
                            | You can get the inbound code from a friend. By entering it, you will get 10r on your 
                            br
                            | balance, and your friend will receive bonuses for your activity 
                            br
                            | on the site.
                
                    .myacc__answers_block
                        .myacc__answers_name
                            img(src='build/img/icons/arrow02.svg' alt='')
                            | Do the skins come straight into Steam inventory or do I need to confirm the exchange?
                        .myacc__answers_info
                            | You can get the inbound code from a friend. By entering it, you will get 10r on your 
                            br
                            | balance, and your friend will receive bonuses for your activity 
                            br
                            | on the site.

                    .myacc__answers_block
                        .myacc__answers_name
                            img(src='build/img/icons/arrow02.svg' alt='')
                            | For how long do skins come?
                        .myacc__answers_info
                            | You can get the inbound code from a friend. By entering it, you will get 10r on your 
                            br
                            | balance, and your friend will receive bonuses for your activity 
                            br
                            | on the site.

                    .myacc__answers_block
                        .myacc__answers_name
                            img(src='build/img/icons/arrow02.svg' alt='')
                            | I did not have time to accept the exchange from the bot, what to do?
                        .myacc__answers_info
                            | You can get the inbound code from a friend. By entering it, you will get 10r on your 
                            br
                            | balance, and your friend will receive bonuses for your activity 
                            br
                            | on the site.
                            
                    .myacc__answers_block
                        .myacc__answers_name
                            img(src='build/img/icons/arrow02.svg' alt='')
                            | I have a trade bath. How do I get a subject?
                        .myacc__answers_info
                            | You can get the inbound code from a friend. By entering it, you will get 10r on your 
                            br
                            | balance, and your friend will receive bonuses for your activity 
                            br
                            | on the site.

                    .myacc__answers_block
                        .myacc__answers_name
                            img(src='build/img/icons/arrow02.svg' alt='')
                            | How do I pick up an item?
                        .myacc__answers_info
                            | You can get the inbound code from a friend. By entering it, you will get 10r on your 
                            br
                            | balance, and your friend will receive bonuses for your activity 
                            br
                            | on the site.
                    
                    .myacc__answers_block
                        .myacc__answers_name
                            img(src='build/img/icons/arrow02.svg' alt='')
                            | The course can be obtained in your personal cabinet after the end of the trade bath. Please contact Steam support to find out the time limit.
                        .myacc__answers_info
                            | You can get the inbound code from a friend. By entering it, you will get 10r on your 
                            br
                            | balance, and your friend will receive bonuses for your activity 
                            br
                            | on the site.
                